{% extends "twitter/layout.html" %}
{% block content %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<br>
<br>
<center><div class="container">
<div class="col-8 offset-col-2">
    <form method="POST" action="">
    <div class="card">
      <div class="card-header">
       <h3>Politicas y privacidad</h3> 
        <div class="col-sm-12">
    <div class="modal-content">
     <div class="col-12">
        <div class="container">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                  

              </svg> &nbsp;&nbsp;&nbsp;&nbsp;Condiciones del servicio </button>
              </h2><div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <h6>Te damos la bienvenida a InfoTec</h6>
                <p>Estas Condiciones de uso ("Condiciones") rigen el uso que haces de InfoTec, excepto en los casos en que indiquemos expresamente que se aplican otras condiciones (y no estas), y proporcionan información sobre el servicio de InfoTec ("Servicio"), detallado a continuación. Cuando creas una cuenta de InfoTec o usas InfoTec, aceptas estas condiciones. Las Condiciones del servicio de Meta no se aplican a este Servicio. </p>
              <br>
             <h6>El servicio de InfoTec</h6>
             <p>Aceptamos proporcionarte el Servicio de InfoTec, que incluye todos los productos, las funciones, las apps, los servicios, las tecnologías y el software que ofrecemos para cumplir la misión de InfoTec: acercarte a las personas y cosas que te encantan. El Servicio se compone de los siguientes aspectos:</p>
             <br>
             <h6>Ofrecer oportunidades personalizadas para crear, conectar, comunicar, descubrir y compartir.</h6>
             <p>Cada persona es distinta. Queremos fortalecer las relaciones por medio de experiencias compartidas que realmente te interesen. Por lo tanto, creamos sistemas que intentan entender quiénes o qué cosas te interesan y les interesan a los demás, y usamos esa información para ayudarte a crear, encontrar, unir y compartir experiencias que te resulten relevantes. Parte de esto consiste en destacar el contenido, las funciones, las ofertas y las cuentas que te pueden interesar, y ofrecerte formas de experimentar InfoTec en función de lo que tú y otras personas hacen tanto dentro como fuera de InfoTec.</p>
            <br>
             <h6>Desarrollar y usar tecnologías que nos ayuden a respaldar continuamente a nuestra comunidad en constante crecimiento.</h6>
             <p>Desarrollamos y usamos herramientas, y ofrecemos recursos a los miembros de nuestra comunidad que contribuyen a que estos vivan experiencias positivas e inclusivas, incluso cuando creemos que pueden necesitar ayuda. También contamos con equipos y sistemas cuyo trabajo es combatir el abuso y las infracciones de nuestras Condiciones y políticas, así como combatir comportamientos perjudiciales y engañosos. Usamos toda la información que tenemos, incluida la tuya, para tratar de mantener segura nuestra plataforma. </p>
              <br>
             <h6>Fomentar un ambiente positivo, inclusivo y seguro.</h6>
             <p>Organizar y analizar información de nuestra creciente comunidad es central para nuestro Servicio. Gran parte de nuestro Servicio consiste en crear y usar tecnologías de vanguardia que nos ayuden a personalizar, proteger y mejorar nuestro Servicio a gran escala para una amplia comunidad internacional. Tecnologías como la inteligencia artificial y el aprendizaje automático nos dan el poder de aplicar procesos complejos en todo nuestro Servicio. Las tecnologías automatizadas también nos permiten garantizar la funcionalidad y la integridad de nuestro Servicio. </p>
              <br>
             <h6>Garantizar el acceso a nuestro Servicio.</h6>
             <p>Para poner en funcionamiento nuestro Servicio de forma internacional, debemos almacenar y transferir datos entre nuestros sistemas de todo el mundo, incluidos aquellos que no están en tu país de residencia. Es necesario y fundamental usar esta infraestructura internacional para brindar nuestro Servicio. </p>
              </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                        <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                        <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                      </svg>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      Política de datos
                    </button>
                  </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <p>En esta política se describe la información que tratamos para proporcionar los servicios de InfoTec, así como de otros productos y funciones que se ofrecen. Puedes obtener herramientas e información adicionales en la configuración de InfoTec.</p>
         <br>
         <h6>I. ¿Qué tipo de información recopilamos?</h6>
         <p>A fin de proporcionarte los Productos de Info, debemos tratar información sobre ti. El tipo de información que recopilamos depende de la forma en la que usas nuestros Productos. Puedes obtener información sobre cómo acceder a la información que recopilamos y cómo eliminarla en la configuración de InfoTec </p>
        <br>
         <h6>II. ¿Cómo puedo administrar o eliminar información sobre mí?</h6>
         <p>Te damos la posibilidad de acceder a tus datos, rectificarlos, transferirlos y suprimirlos. Obtén más información en la configuración de InfoTec.
        Almacenamos los datos hasta que ya no son necesarios para brindarte nuestros servicios y Productos de Meta, o hasta que se elimina tu cuenta, lo que ocurra primero. Esto se determina según cada caso particular y depende de diversos factores, como la naturaleza de los datos, el motivo de la recopilación o el tratamiento, y las necesidades de conservación operativas o legales relevantes.</p>
        <br>
         <h6>III. ¿Cómo respondemos a solicitudes legales o evitamos daños?</h6>
         <p>Podemos acceder a la información que recibamos sobre ti (incluida información sobre transacciones financieras relativa a compras realizadas con nuestros Productos) y conservarla durante un período extendido en caso de que esté sujeta a un requisito o una obligación legal, una investigación gubernamental o investigaciones relacionadas con posibles incumplimientos de nuestras condiciones o políticas, o bien para evitar daños. También podemos conservar información sobre las cuentas que se inhabilitaron por infringir nuestras condiciones durante al menos un año con el objetivo de evitar que se repitan conductas abusivas o incumplimientos de nuestras condiciones.</p>
            <br>
         <h6>IV. ¿Cómo operamos y transferimos datos como parte de nuestros servicios internacionales?</h6>
         <p>De conformidad con esta política, compartimos información de forma internacional, tanto internamente dentro de las empresas de Info como externamente con nuestros socios y con las personas con las que te conectas y compartes contenido en todo el mundo. Tu información puede, por ejemplo, transferirse o transmitirse a los Estados Unidos u otros países distintos de tu lugar de residencia, o almacenarse y tratarse allí, con las finalidades descritas en esta política. Estas transferencias de datos son necesarias para proporcionar los servicios descritos en las Condiciones de Meta y en las Condiciones de Instagram, así como para operar en todo el mundo y proporcionarte nuestros Productos. Utilizamos cláusulas contractuales estándar, nos basamos en las decisiones de adecuación de la Comisión Europea sobre determinados países, según sea aplicable, y obtenemos tu consentimiento para transferir dichos datos a los Estados Unidos y a otros países..</p>
          <br>
         <h6>V. ¿Cómo te notificaremos sobre cambios que se efectúen en esta política?</h6>
         <p>Te notificaremos antes de realizar cambios en esta política y te daremos la oportunidad de revisarlos antes de seguir usando nuestros Productos.</p>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
  <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
</svg>
&nbsp;&nbsp;&nbsp;&nbsp;
       Normas comunitarias
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
    <h6>Descripción detallada</h6>
    <p>InfoTec es un reflejo de nuestra diversa comunidad de culturas, edades y creencias. Hemos dedicado mucho tiempo a considerar los diferentes factores que contribuyen a crear un entorno seguro y abierto para todos.</p>
    <p>Hemos creado las Normas comunitarias para que puedas ayudarnos a fomentar y proteger esta increíble comunidad. Al utilizar Instagram, aceptas estas normas y nuestras Condiciones de uso. Nos comprometemos a cumplir estas normas y esperamos que tú también lo hagas. En caso de que incumplas las normas, es posible que se elimine contenido, se inhabilite la cuenta o se apliquen otras restricciones.</p>
    <p>En algunos casos, permitimos contenido para la concienciación pública que, en principio, infringiría nuestras Normas comunitarias, siempre que este sea de interés y relevante para el público. No obstante, primero analizamos su valor de interés público, evaluamos el riesgo de que pueda causar daños y tomamos una decisión en función de normas internacionales sobre derechos humanos.</p>
    <br>
    <h6>Fomenta interacciones significativas y genuinas.</h6>
    <p>Con el fin de ayudarnos a erradicar el spam, no aumentes los Me gusta, tus seguidores ni las veces que se comparte tu contenido de manera artificial. Tampoco publiques comentarios o contenido repetitivos, ni contactes de forma reiterada con personas con fines comerciales sin su consentimiento. No ofrezcas ni regales dinero a cambio de Me gusta, seguidores, comentarios ni ningún otro tipo de interacción. No publiques contenido que incluya, promocione, motive, facilite o admita la oferta, la solicitud ni el intercambio de opiniones o calificaciones de usuarios falsas y engañosas.</p>
    <br>
    <h6>Cumple la ley.</h6>
    <p>En InfoTec no tienen cabida aquellas personas que apoyen o elogien el terrorismo, el crimen organizado o a grupos que promuevan el odio. Tampoco están permitidos el ofrecimiento de servicios sexuales, la compraventa entre particulares de armas de fuego o productos relacionados con el alcohol o el tabaco, ni la compraventa de drogas o fármacos. También eliminamos el contenido que intente comerciar con drogas o que intente donarlas, regalarlas o solicitarlas. Asimismo, eliminamos el contenido en el que se declare el uso personal de drogas (salvo en contextos de recuperación) o que coordine o promocione su uso. Además, Instagram prohíbe la venta de animales vivos entre particulares, aunque las tiendas con establecimiento físico pueden ofrecer estas ventas. Nadie puede coordinar la caza o venta de especies en peligro de extinción ni sus productos derivados.</p>
    <br>
    <h6>Respeta al resto de los miembros de la comunidad de InfoTec.</h6>
    <p>Queremos promover una comunidad diversa y positiva. Retiramos cualquier contenido que incluya amenazas creíbles o lenguaje que incita al odio, contenido dirigido a particulares con el fin de humillarlos o avergonzarlos, información personal utilizada para chantajear o acosar a alguien, y mensajes reiterados no deseados. Normalmente, permitimos debates más críticos en torno a personas que aparecen en las noticias o que cuentan con una audiencia muy amplia por su profesión o por determinadas actividades.</p>
    <br>
    <h6>Reflexiona antes de publicar eventos de interés.</h6>
    <p>Somos conscientes de que son muchas las personas que utilizan InfoTec para compartir eventos importantes y de interés. Algunos de estos eventos pueden incluir imágenes muy gráficas. Debido al gran número de personas y grupos de edad diferentes que utilizan Instagram, es posible que eliminemos vídeos con mucha violencia gráfica, con el fin de asegurarnos de que Instagram siga siendo apropiado para todos.</p>
    </div>
  </div>
</div>
</div>

      </div>
    </div>
  </div>
    </div>
  </form>
</div>
</center>



 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

{% endblock %}