{% extends 'twitter/layout.html' %}
{% block content %}

<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHXl3pGISzzMnbHaF0Nz4mnNNwvuBLOfPDIed-sPlpl4q2QrnUFYHt65ZgK4l9rfZ4JsY&usqp=CAU" alt="twitter logo">
            <h1>Registrate en InfoTec</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="user-name-id">Nombre completo</label>
                {{ form.first_name }}
            </div>
            <div class="input-wrapper">
                <label for="user-name-id">Nombre de usuario</label>
                {{ form.username }}

            </div>

            <div class="input-wrapper">
                <label for="user-name-id">Email</label>
                {{ form.email }}
            </div>

            <div class="input-wrapper">
                <label for="password-id">Contraseña</label>
                {{ form.password1 }}
            </div>
            {% if form.errors %}
            <p class="text-danger">Su contraseña debe contener al menos 8 caracteres y números. Si el error de registro persiste, puede ser que el usuario ya exista. Intente con otro nombre de usuario por favor.</p>
            {% endif %}
            <div class="input-wrapper">
                <label for="password-id">Confirme su contraseña</label>
                {{ form.password2 }}
            </div>

            <button class="twitter-btn">Registrarse</button>
        </form>

        <div class="footer">
            <a href="{% url 'home' %}">¿Ya tienes una cuenta? Login</a>
        </div>

    </div>

    {% endblock content %}